body {
    font-family:Arial;
    background-color:white;
    margin:0;
    padding:20px;
}
.container {
    display:grid;
    grid-template-rows:150px 150px 150px;
    grid-template-columns:1fr 1fr 1fr;
    gap:10px;
}
.item1 {
    grid-row:1/3;
    grid-column:1/3;
    background-color:blue;
    color:white;
    padding:20px;
}
.photo {
    grid-row:1/2;
    grid-column:3/4;
    background-color:grey;
    display:flex;
    justify-content:center;
    align-items:center;
}
.photo img {
    width:120px;
    height:120px;
    border-radius:50%; /* circular banaucha*/
}
.item3 {
    grid-row:2/3;
    grid-column:2/3;
    background-color:bisque;
    padding:20px;
}
.item2 {
    grid-row:3/4;
    grid-column:1/4;
    background-color:brown;
    color:white;
    padding:20px;
}
.item4 {
    grid-row:2/3;
    grid-column:3/4;
    background-color:rgb(120, 105, 105);
    padding:20px;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
} /*flexbox ko lagi arkai huncha